<h1>All My Lifts</h1>

<form action="/my_lifts" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <input type="submit" />
</form>